/* CSS inspired from: Settings Appearance Panel */

.background-preview-button {
    background: none;
    border-radius: 9px;
    padding: 3px;
    box-shadow: none;
    outline: none;
  }
  
  .background-preview-button:checked {
    box-shadow: 0 0 0 3px @accent_color;
  }
  
  .background-preview-button:focus:focus-visible {
    box-shadow: 0 0 0 3px alpha(@accent_color, .3);
  }
  
  .background-preview-button:checked:focus:focus-visible {
    box-shadow: 0 0 0 3px @accent_color, 0 0 0 6px alpha(@accent_color, .3);
  }
  
  .appearance-thumbnail {
    border-radius: 6px;
  }

/* Navigation sidebar styling */
.navigation-sidebar {
    background: none;
    border-radius: 12px;
}

.navigation-sidebar row {
    padding: 8px 12px;
    min-height: 30px;
}

.navigation-sidebar row:selected {
    background-color: alpha(@accent_bg_color, 0.15);
}

.navigation-sidebar row:selected:hover {
    background-color: alpha(@accent_bg_color, 0.2);
}
