<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

  <action id="org.frostyard.ChairLift.scripts.hostname">
    <description>ChairLift hostname script</description>
    <message>Set the hostname of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/hostname</annotate>
  </action>

  <action id="org.frostyard.ChairLift.scripts.keyboard">
    <description>ChairLift keyboard script</description>
    <message>Set the keyboard of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/keyboard</annotate>
  </action>

  <action id="org.frostyard.ChairLift.scripts.locale">
    <description>ChairLift locale script</description>
    <message>Set the locale of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/locale</annotate>
  </action>

  <action id="org.frostyard.ChairLift.scripts.timezone">
    <description>ChairLift timezone script</description>
    <message>Set the timezone of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/timezone</annotate>
  </action>

  <action id="org.frostyard.ChairLift.scripts.user">
    <description>ChairLift user script</description>
    <message>Add a user to the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/user</annotate>
  </action>

  <action id="org.frostyard.ChairLift.scripts.removeChairLiftUser">
    <description>ChairLift remove ChairLift user script</description>
    <message>Remove ChairLift user from the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/remove-first-setup-user</annotate>
  </action>

  <action id="org.frostyard.ChairLift.scripts.installToDisk">
    <description>ChairLift disk installation script</description>
    <message>Install the selected system image to the chosen disk</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/install-to-disk</annotate>
  </action>

  <action id="org.frostyard.ChairLift.scripts.oemcomplete">
    <description>ChairLift OEM complete script</description>
    <message>Mark the OEM setup as complete</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/oemcomplete</annotate>
  </action>


  <action id="org.frostyard.ChairLift.scripts.enrollKey">
    <description>ChairLift secure boot key enrollment script</description>
    <message>Enroll a specified secure boot key</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/enroll-key</annotate>
  </action>

  <action id="org.frostyard.ChairLift.scripts.recoveryKey">
    <description>ChairLift recovery key script</description>
    <message>Create or rotate a LUKS recovery key</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/recovery-key</annotate>
  </action>

  <action id="org.frostyard.ChairLift.scripts.flatpakSystem">
    <description>ChairLift system flatpak installation script</description>
    <message>Install system flatpak applications</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.ChairLift/chairlift/scripts/flatpak-system</annotate>
  </action>

</policyconfig>
